
.links-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: white;
    padding: 10px;
    max-width: 100%;
}

button{
    padding: 10px;
    border-color: black;
    border-radius: 15px;
    background-color: #f3ece7;
    cursor: pointer;
}

p{
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 70%;
    font-size: larger;
    margin-top: 20px;
}

.paras{
    margin-bottom: 40px;
}

