.construction-wrapper{
    color: var(--black);
    position: relative;
    padding-bottom: 3rem;
    background: white;
}

.construction-container{
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    min-height: 70vh;
}

 /*--------------------------hero right-----------------------*/

.imgg-container{
width: 25rem;
height: 25rem;
/*overflow: hidden;*/
}

.imgg-container>img{
    width: 80%;
    }

    /*--------------------------hero left-----------------------*/

    .construction-left {
        display: flex;
        flex-direction: column;
        align-items: center; 
        
      }

.construction-title{
    position: relative;
    z-index: 1;
}

.construction-title>h1{
    font-family: 'Purple Purse', serif;
    font-size: 5rem;
    font-weight: lighter;
    margin: 0; 
}

.construction-des{
    position: relative;
    z-index: 1;
    margin-top: 10px;
    
}

.construction-des>span{
    font-size: 3rem;
    margin: 0; 
    font-weight: lighter;
}

@media only screen and (max-width: 768px) {
    .imgg-container{
       display: none;
        }
  }



   
  





