.NotFound-wrapper{
    color: var(--black);
    position: relative;
    padding-bottom: 3rem;
    background: white;
    padding: 0 6rem;
}

.NotFound-container{
    justify-content: center;
    align-items: center;
    padding: 0 8rem;
    padding-top: 50px;
}

 /*--------------------------hero right-----------------------*/

.NotFoundimg-container{
width: 25rem;
height: 25rem;
margin-left: 20px;
/*overflow: hidden;*/
}

.NotFoundimg-container>img{
    width: 100%;
    }

    /*--------------------------hero left-----------------------*/

    .NotFound-left {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center children horizontally */
        
      }

.NotFound-title{
    position: relative;
    z-index: 1;
}

.NotFound-title>h1{
    font-family: 'Purple Purse', serif;
    font-size: 50px;
    font-weight: lighter;
    margin: 0; 
}

.NotFound-des{
    position: relative;
    z-index: 1;
    margin-top: 10px;
    
}

.NotFound-des>span{
    font-size: 25px;
    margin: 0; 
    font-weight: lighter;
}
