.h-wrapper{
   background: var(--cream);
   color: var(--black);
   padding: 0 6rem;
   position: sticky;
   right: 0;
   left: 0;
   bottom: 0;
   top: 0;
   z-index: 999;
}

.h-container{
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--black);
}

.h-menu{
    gap: 2rem;
    font-size: 1.5rem;
}

.h-menu>*:hover{
    cursor: pointer;
}