/* Footer.css */
.footer-section
{
  background-color: var(--cream); 
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-container {
  width: 100%;
  height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: var(--cream); 
    color: var(--black); 
    margin:auto;
    gap: 10px;
  }
  
  .left-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
  }
  
  .footer-title {
    margin-bottom: 10px;
  }
  
  .emailBtn {
    margin-bottom: -20px;
  }

  .emailBtn button {
    padding: 5px;
    border-radius: 50px;
    background: transparent; 
    border: 2px solid var(--black); 
    color: black; 
    transition: transform 300ms ease-in;
}

.emailBtn button:hover {
    transform: scale(1.1); 
    cursor: pointer;
  }
  
  .footerImg img{
    max-width: 300px; 
  }
  
  .right-div {
    width: 50%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
  }
  
  .more-title,
  .social-title {
   display: flex;
   flex-direction: column;
  }
  
  h3 {
    font-size: x-large;
    font-weight: lighter;
    font-family: 'Purple Purse', serif;
    margin-bottom: 10px;
  }
  
  .more-title a,
.social-title a {
    padding-bottom: 20px;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: var(--black); 
  }
  
  .more-title a:hover,
  .social-title a:hover {
    color: var(--blue);
  }

  @media only screen and (max-width: 1000px) {
    .footer-container {
      display: flex;
       flex-direction: column;      
     }

     .right-div, .left-div{
      margin: auto;
     }
  }
  