.category-wrapper{
    color: var(--black);
    position: relative;
    background: var(--cream);
  max-width: 100%; /* Adjust the maximum width as needed */
  margin: 0 auto;
  padding: 20px;
}

.category-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 8rem;
    padding-top: 50px;
}

 /*--------------------------hero right-----------------------*/

.categoryimg-container{
max-width: 50%;
height: 80px;
/*overflow: hidden;*/
}

.categoryimg-container>img{
    width: 100%;
    }

    /*--------------------------hero left-----------------------*/

    .category-left {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center children horizontally */
        
      }

.category-title{
    position: relative;
    z-index: 1;
}

.category-title>h1{
    font-family: 'Purple Purse', serif;
    font-size: 50px;
    font-weight: lighter;
    margin: 0; 
}

.category-des{
    position: relative;
    z-index: 1;
    margin-top: 10px;
    
}

.category-des>span{
    font-size: 25px;
    margin: 0; 
    font-weight: lighter;
}