/* Slider.css */
.slider-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%; 
  background-color: var(--cream);
}

.question-text {
  text-align: left;
  margin-bottom: 0px;
  margin-left: 80px;
}

.question-text p {
  font-size: 18px;
  margin: 0;
}

.slider-container {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  position: relative;
  overflow: hidden;
  top: 5%;
  margin-top: 0; /* Adjust the margin-top value if needed */
}

.slider-background {
  position: relative;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.s-button {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 80%;
  z-index: 2;
}

.arrow {
  width: 30px; 
  height: 30px;
  cursor: pointer;
}

.swiper-container {
  max-width: 386px; /* Adjust to match the width of the slider window */
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.folder {
  border-radius: 5px;
  max-width: max-content;
  margin: auto;
  transition: all 300ms ease-in;
}

.folder > img {
  width: 100%;
  max-width: 8rem; 
  transition: transform 300ms ease-in;
}

.folder:hover {
  transform: scale(1.1); /* Adjust the scaling factor as needed */
}

.bottom-text {
  margin-top: 40px;
  text-align: center;
  background: var(--cream);
  width: 100%;
  font-family: 'Purple Purse', serif;
}
